.bg-main{
 background-image: url("background-image");
}
.contact-bg-color{
 background-color: #303030;
}
element.style {
    padding-left: 20%;
    padding-right: 20%;
}
element.style {
    padding-left: 20%;
}
element.style {
    padding-left: 20%;
}
element.style {
    padding-left: 20%;
}